
/*

#1----Header
#2----Parent/Enfant(header-image)
#3----triangles noir losange
#4----Articles
#5----liens articles
#6----lignes grises icones social articles
#7----pagination
#8----Dernier Tableau 
#9----ligne d'images instagram 
#10---Footer 

*/


/*--------Header--------*/

.navbar-fixed-top{
    background-color: #212121;
    height: 60px;
    margin:0 auto;
    display: block;
    text-align: center;

}
.navbar-nav > li {
    display: inline-block;
    float:none;
}
.container-fluid nav ul{
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8em;
    letter-spacing: 1px;
}

.container-fluid nav ul a{
    color: #999999;
    height: 60px;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.nav  li  a:hover{
    background-color: #212121;
    color: white;
    text-decoration: underline;
    text-decoration-color: white;
    text-decoration-style: solid;
    text-underline-position: under;
}
.haut{
    color: #212121;
    padding: 0;
}

.bloclogo{
    margin-top: 60px;
    width: 100%;
    height: 230px;
    padding-top: 45px;
    background-color: #F5F5F5;
}

.bloclogo .img-responsive{
    margin: auto;
    margin-top: 0px;
    padding-bottom: 0;
}

.intro{
    text-align: center;
    font-family: 'PT Serif', serif;
    font-style: italic;
    font-weight: bold;
    font-size: 0.9em;
    margin: 0;
    padding-top: 5px;
}

.imgcouverture{
    width: 100%;
    height: auto;
    position: relative;

}

.fa.fa-search{

    color: #999999;
    font-size: 1.4em;
    margin-left: 152px; 
}

/*--------Parent/Enfant--------*/


.parent{
    position: relative;
    padding-bottom:40px;

}

.enfant{

    position: absolute;
    top: 12em;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
    width: 485px;
    height: 161px;
    background-color: white;
}

.enfant2{

    width: 480px;
    height: 156px;
    position: absolute;
    background-color: white;
    top: 2.5px;
    left:2.5px;
    text-align: center;
    border: solid 1px #999999;
    padding-top: 40px;
}
.enfant3{
    width: 120px;
    height: 32px;
    position: absolute;
    top: -0.9em;
    background-color: #323232;
    color: white;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    padding-top: 5px; 
    font-family: 'Lato', sans-serif;
    font-size: 12px;

}
/*-------triangles noir losange---------*/

.enfant3:before{
    content:"";
    position:absolute;
    margin-top:-5.7px;
    border-top: 16.4px solid transparent;
    border-bottom: 16.4px solid transparent;
    border-right: 18px solid #323232;
    margin-left:-45.7px;	
}

.enfant3:after{
	content:"";
    position:absolute;
    margin-top:-5.4px;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    border-right: 18px solid #323232;
    margin-left:26.1px;
    transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}



/*-------Articles---------*/


.row.articles{
    text-align:center;
}

.img-responsive{
	margin-bottom:25px;

}

.categorie_article a{
	font-family: 'Lato', sans-serif;
	color: #A60505;
	font-size: 12px;
    padding-top:10px;
}

.titre_article a{
	color: black;
	font-size: 18px;
	font-family: 'Playfair Display', serif;
	font-weight: 900;
	letter-spacing: 1.5px;
	display:inline-block;   
}

.titre_article{
	
	margin-bottom:14px;
	margin-top:10px;	
}

.barre_rouge_horizontale{
    width:58px;
    margin:0 auto;
    border-bottom: 1px solid #A60505;
    padding-bottom:4px; 
}

.auteur_date{
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	color: #939393;
}

.nom_auteur{
    color: #000000;
}

.separation_date_auteur::after{
	display: inline-block;
    content: "";
    width: 1px;
    height: 10px;
    background: #DEDEDE;
    margin: 0 11px 0 11px;
}

.paragraphe_articles{
	font-family: 'Lato', sans-serif;
	font-size: 14px;
    padding-top:16px;
    text-align: justify;
    line-height: 28px;
    padding-bottom:14px;
}

.icones_social{
  padding-bottom:46px;
  display: inline-block;

}

.fa{
	color: #000000;
    margin-left:8.5px;
}

/*--------Slider article 2---------*/

.slider{
    position:relative;
    
}

.slider:hover{
    -o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    transition:.3s ;
    
}
.display-right{
  display:block;
  position: absolute;
  left :88%;
  top:45%;
  border-radius: 100%;
  border: none;
  width:36px;
  height: 36px;
  
}
.display-left{
  display:block;
  position: absolute;
  right:88%;
  top:45%;
  border-radius: 100%;
  border: none;
  width:36px;
  height: 36px;
  
}


/*--------liens articles---------*/

a.lien_categories{
    color: #A60505;
    cursor: pointer;
}

a.lien_categories.losange::after{

	display: inline-block;
    content: "";
    border: 1px solid #A60505;
    margin: 0 15px 0 15px;
    width: 5px;
    height: 5px;
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-bottom: 2px;
}

a.lien_articles{
    text-decoration: none;
    cursor: pointer;
}

a.lien_articles:hover{  
	color: #888888;                 
	text-decoration: none;
	-o-transition:.3s;
	-ms-transition:.3s;
	-moz-transition:.3s;
	-webkit-transition:.3s;
	transition:.3s;
}

span.nom_auteur:hover{
	color: #A60505;
	cursor: pointer;
}

.article-main a .img-responsive:hover{
 text-decoration: none;
 cursor: pointer;
 opacity: 0.8;
 -o-transition:.3s;
 -ms-transition:.3s;
 -moz-transition:.3s;
 -webkit-transition:.3s;
 transition:.3s ;
}

.img-responsive:hover{

    
}
/*--------lignes grises icones social articles---------*/


.icones_social::before,.icones_social::after{
    display: inline-block;
    content: "";
    border-top: .1rem solid #DEDEDE;
    width: 20.7rem;
    margin: 0 0.7rem;
    transform: translateY(-.4rem);

}

.icones_social::after{
	margin-left: 8px;
	margin-right:0px;
}

.icones_social::before{
	margin-right:0px;
	margin-left: 0px;
}

/*-------- pagination --------*/


.page_pagination{
    text-align: center;
    border-bottom:1px solid #DEDEDE;
    padding-bottom:60px;
    margin-bottom:40px;
    

}

.pagination.pagination-sm li a{
    border-radius: 0px;
    margin-right: 10px;
    font-size: 12px;
    color: #919191;
    font-family: 'PT Serif', serif;
    
}

.pagination.pagination-sm li a:hover{
   background-color:white;
   border-color: #999999;
   -o-transition:.3s;
   -ms-transition:.3s;
   -moz-transition:.3s;
   -webkit-transition:.3s;
   transition:.3s;
}

.pagination.pagination-sm li a.page1 {
    background-color: #A60505;
    color: white;
}

.page1{
	font-weight: 900;

}
.page2{
	font-weight: 900;
}

/*-------- Dernier Tableau --------*/



.titrelasttab{
    border-bottom: solid #313131 1px;
    margin-bottom: 3px;
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    font-weight: 900;
    color: #313131;
    font-size: 16px;
    letter-spacing: 1px;
    padding-bottom: 20px;
}

.aboutpic , .insta{
    width: 100%;
    height: auto;
}

.momdaught , .cintres , .styled{
    width: 100%;
    height: auto;
}


/*-------- lignes d'images instagram --------*/

.instagram{
 margin:0;
 padding: 0;
}

.images_instagram{
   padding-top: 60px;
   position:relative;

}

.title_instagram{
  position: relative;
}

p.p_title{
  position: absolute;
  z-index: 1;
  font-size: 12px;
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  letter-spacing: 1.5px;
  height:40px;
  margin-left: calc(50% - 83px);
  margin-top: 5.2%;
  background-color: white;
  color: black;
  padding:16px 20px 5px 20px;	
  height:50px;
}

.aboutpic , .insta{
    border-top: solid 1px #313131;
    padding-top: 20px;
}

h4 a{
    color: #313131;
    font-size: 14px;
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    display:inline-block;
}

h4 a:hover{
    color: #A60505;                 
    text-decoration: none;
    -o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    transition:.3s;
}

.col-lg-7 p{
    font-family: 'Lato', sans-serif;
    color: #939393;
}

.col-lg-4 .row{
    width: 100%;
    height: auto;
    border-bottom: 1px solid #DEDEDE;
    padding-bottom: 16px;
    padding-top: 16px;
    margin:auto;
    padding-left: 0px;
}

.recent{
    border-top: solid 1px black;
}

.momdaught{
    margin-top: 4px;
}

.aboutp{
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    padding-top:16px;
    text-align: justify;
    line-height: 28px;
    padding-bottom:14px;
}

/*-------- Footer --------*/

footer{
    margin-top: -25px;
    height: 290px;
    background-color: #212121;
}

.nav.navbar-nav.footnav{
    border-bottom: solid 1px grey;
    margin-left: 75px;
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    font-weight: 900;
    margin-top: -20px;
    
}

.footnav li i{
    color: #939393;
}

.fa.fa-facebook.fin , .fa.fa-twitter.fin , .fa.fa-instagram.fin , .fa.fa-pinterest.fin , .fa.fa-flickr.fin , .fa.fa-tumblr.fin , .fa.fa-youtube-play.fin{
    width: 36px;
    height: 36px;
    text-align: center;
    line-height: 22px;
    border: solid 1px #939393;
    padding: 5px;
    border-radius: 50%;
    font-size: 1.2em;
}

.nav.navbar-nav.footnav a:hover i{
    background-color: white;
    color: #212121;
}

.nav.navbar-nav.footnav li p{
    display: inline-block;
    margin-left: 14px;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    letter-spacing: 1px;
}

.nav.navbar-nav.footnav li a{
    color: #939393;
}

.nav.navbar-nav.footnav a:hover p{
    color: white; 
}

.row.end{
    margin-left: 420px;
    padding: 0px;
    margin-top: 40px;
}

.outro{
    font-family: 'Lato', sans-serif;
    font-style: italic;
    color: #939393;
    margin-top: 34px;
    margin-left: -30px;
}